body{
font-family:Poppins;
background:#f3f4f6;
margin:0;
}

.nav{
background:#111827;
color:white;
padding:15px;
font-size:20px;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

.card{
background:white;
padding:20px;
margin:20px 0;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

button{
background:#2563eb;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}